RewriteEngine On
Options -Indexes

#ErrorDocument 404 /web/errors/404/index.html
#ErrorDocument 500 /web/errors/500/index.html

RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]

RewriteRule ^(.*).html$ index.php?load=$1.html [L,NC]
RewriteRule ^(/)?$ index.php?load=home.html [L,NC]