RewriteEngine On
Options -Indexes

#ErrorDocument 404 /web/errors/404/index.html
#ErrorDocument 500 /web/errors/500/index.html

RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]

#RewriteRule ^(.*).html$ application.php?load=$1.html [L,NC]
#RewriteRule ^(/)?$ application.php?load=index.html [L,NC]